<%- include("header") %>

<form action="/" method="post">
  <h2>Title Of The Post </h2>
  <input type="text" name="title" value="" placeholder="Title Of Your Post">

  <br><br>
  <h2>Your Post</h2>
  <textarea name="post" rows="10" cols="160" placeholder="What's on your mind today?.."></textarea>

  <br><br>
  <input type="submit" name="" value="Post It!">
</form>

<%- include("footer") %>
